<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="account.component.scss">
</head>

<div class="parent-data-container" *ngIf="parentData">
  <p>Fam. {{ parentData.last_name_father }} {{ parentData.last_name_mother }} </p>
</div>


<body>
  <form>
  <div *ngIf="parentData">
    <p>Apellido Paterno: {{ parentData.last_name_father }}</p>
    <p>Apellido Materno: {{ parentData.last_name_mother }}</p>
    <p>Correo electrónico: {{ parentData.email }}</p>
  </div>
</form>

<div class="vincular-hijo">
  <span>¿Deseas vincular a un hijo?</span>
  <button type="button" (click)="onLinkChildClick()">{{ tempCode ? tempCode : 'Vincular hijo' }}</button>
  <p *ngIf="countdown">Tiempo restante: {{ countdown }}</p>
</div>
</body>
</html>
