.centrado{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  

  .line {
    position: absolute;
    z-index: -1;
    background-color: var(--secondary-color);
    width: 100%;
    height: 2rem;
    margin-top: 7.5rem;
  }

  img {
    margin-top: 4rem;
    width: 8rem;
    border-radius: 50%;
    border: 0.5rem solid var(--secondary-color);
  }

  .blue-card {
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 3rem;
    width: 24rem;
  }
}

.input {
  display: flex;
  margin-bottom: -0.5rem;

  .entry-type {
    width: 40%;
  }

  .entry {
    width: 60%;
    margin-top: -0.5rem;
    .underlined {
      background-color: var(--white-color);
      height: 1px;
      width: 100%;
      margin-top: -0.6rem;
    }
  }
}


.center2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:30rem;

  .hvinculados {
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    width: 13rem;
    .underlined {
      background-color: var(--white-color);
      height: 1px;
      width: 100%;
      margin-top: -0.6rem;
    }
  }
  .registrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    width: 15rem;

  }
}

.child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .icon{
    scale: 0.8;
    cursor: pointer;
  }
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    position: relative;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    border: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-family: Lato
  }

}