.side-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 20px;

  .center {
    margin-top: 1rem;
    text-align: center;
    width: 100%;

    .image {
      width: 160px;
    }
  }
}

.notification {
  margin-right: 0.5rem;
  margin-top: 1.4rem;
}
