<mat-sidenav-container class="side-container primary-bg">
  <mat-sidenav opened mode="side" class="secondary-bg">
    <div class="center">
      <img src="assets/side-logo.png" alt="Sidebar Logo" />
    </div>
    <app-sidenav-element
      (click)="onNavigate('/home')"
      [title]="'Mi cuenta'"
      [icon]="'person'"
    ></app-sidenav-element>

    <app-sidenav-element
      *ngFor="let child of children"
      [id]="child.id"
      (click)="onNavigateChild(child.id!)"
      [title]="child.name"
      [icon]="'face'"
    ></app-sidenav-element>

    <div class="bottom-position">
      <app-sidenav-element
        (click)="onNavigate('/help')"
        [title]="'Ayuda'"
        [icon]="'help'"
      ></app-sidenav-element>

      <app-sidenav-element
        (click)="onNavigateLogout()"
        [title]="'Salir de Sesión'"
        [icon]="'logout'"
      ></app-sidenav-element>
    </div>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end">
    <mat-icon
      [matBadge]="sizeNotification"
      matBadgeColor="warn"
      class="notification"
      aria-hidden="false"
      aria-label="Notification icon"
      fontIcon="notifications"
      (click)="showNotification()"
    >
    </mat-icon>

    <div class="notifications_content" *ngIf="visibleNotifications">
      <ul class="texto">
        <li *ngFor="let alert of alerts" style="margin-bottom: 1rem">
          {{ getAlertMessage(alert) }}
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
