<mat-sidenav-container class="side-container primary-bg">
  <mat-sidenav opened mode="side" class="secondary-bg">
    <div class="center">
      <img class="image" src="assets/side-logo.png" alt="Sidebar Logo" />
    </div>
    <app-sidenav-element
      [title]="'Mi cuenta'"
      [icon]="'person'"
    ></app-sidenav-element>

    <app-sidenav-element
      [title]="'Salir de Sesión'"
      [icon]="'logout'"
    ></app-sidenav-element>
    <app-sidenav-element
      [title]="'Ayuda'"
      [icon]="'help'"
    ></app-sidenav-element>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end">
    <mat-icon
      class="notification"
      aria-hidden="false"
      aria-label="Notification icon"
      fontIcon="notifications"
    ></mat-icon>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
