img {
  width: 40px;
}

.table-styles {
  background-color: var(--secondary-color);
}

.warn-btn {
  color: var(--warn-color);
}

.mat-column-logo {
  text-align: center;
}

.mat-column-name {
  text-align: center;
}

.mat-column-blockperiod {
  text-align: center;
}

.mat-column-actions {
  text-align: center;
}

.blockperiod-elements {
  width: 320px;
}
