
<div class="container">
  <div class="left-side">
    <img class="logo" src="assets/focus_bigger_logo.png" alt="Logo">
  </div>
  <div class="right-side">
    <mat-card class="login-card">
      <mat-card-title class="card-title">Iniciar sesión</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <mat-label>Correo electrónico</mat-label>
          <mat-form-field class="email-field" appearance="fill">
            <input matInput type="email" formControlName="email" required>
          </mat-form-field>
          <mat-label>Contraseña</mat-label>
          <mat-form-field class="password-field" appearance="fill">
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
          <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Ingresar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>