.center {
  display: flex;
  width: 100%;
  justify-content: center;

  mat-form-field {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: white;
  }

  mat-tab-group {
    width: 80%;
  }
}
.custom-opt {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.custom-opt:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.align-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

button.custom-btn {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  margin-inline: 2rem;
  color: var(--white-color);
  background-color: var(--secondary-color);
  width: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
