.center {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-top: 4rem;
    margin-left: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 0.5rem solid var(--secondary-color);
  }

  .line {
    position: absolute;
    z-index: -1;
    background-color: var(--secondary-color);
    width: 100%;
    height: 3rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin-left: 20rem;
    }
  }
}

mat-option {
  color: var(--white-color);
  background: var(--primary-color);
}

.input2 {
  display: flex;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
  padding-top: 2rem;
  margin-left: 3rem;

  .entry-type {
    width: 20%;
  }

  .select {
    height: 40px;
    border-radius: 5px;
    border: solid 1.5px var(--accent-color);
    background: var(--accent-color);
    width: 200px;
    margin-left: 30px;
    margin-top: 1rem;
    padding-right: 15px;
    text-align: center;
  }

  .input-group {
    position: relative;
    padding-left: 30px;
    padding-top: 1rem;
  }

  .input_text2 {
    border: solid 1.5px var(--accent-color);
    background: var(--accent-color);
    color: #f5f5f5;
    font-size: 1rem;
    position: absolute;
    border-radius: 5px;
    padding: 1rem;
    width: 11.5rem;
    height: 0.5rem;
    outline: none;
  }
}

.center3 {
  display: flex;
  align-items: center;
  .button {
    margin: auto;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    .btn-cancel {
      position: relative;
      padding: 1em 3em;
      display: inline-block;
      border-radius: 6em;
      border: 1px solid var(--white-color);
      color: var(--white-color);
      background-color: var(--primary-color);
      margin-right: 10px;
    }

    .btn-register {
      position: relative;
      padding: 1em 3em;
      display: inline-block;
      border-radius: 6em;
      border: none;
      color: var(--primary-color);
      background-color: var(--white-color);
      margin-left: 10px;
    }
  }
}

.divgeneral {
  margin: auto;
  margin-top: 2rem;
  width: 30rem;
  height: 20rem;
  background-color: var(--secondary-color);
}
