<div class="center">
    <img src="{{ photo_url }}" />
    <div class="line">
        <h1 class="center">Registro de hijo</h1>        
    </div>
</div>

<div class="centrado">

    <div class="center">
      <div class="blue-card">
        <div class="input">
          <p class="entry-type">Nombre</p>        
          <div class="input-group">
            <input required="" type="text" name="text" autocomplete="off" class="input">
          </div>
        </div>
        <div class="device-container">
          <p class="entry-type">Dispositivos</p>
          <div class="checkbox-container">
            <mat-checkbox class="example-margin checkbox" [(ngModel)]="checked1" >Celular</mat-checkbox>
            <mat-checkbox class="example-margin checkbox" [(ngModel)]="checked2" >PC</mat-checkbox>

            <mat-checkbox class="example-margin checkbox" [(ngModel)]="checked3" >Tablet</mat-checkbox>
            <mat-checkbox class="example-margin checkbox" [(ngModel)]="checked4" >Laptop</mat-checkbox>
          </div>
        </div>

    
      </div>
    </div>

    <div class="center2">
    <div class="button">
        <button class="btn-cancel" (click)="volverHome()">Cancelar</button>
        <button class="btn-register">Registrar</button>
    </div>
    </div>
</div>
