<div class="center">
    <img src="{{ photo_url }}" />
    <div class="line">
        <h1 class="center">Registro de hijo</h1>        
    </div>
</div>

<div class="centrado">

    <div class="center">
      <div class="blue-card">
        <div class="input">
          <p class="entry-type">Nombre</p>        
          <div class="input-group">
            <input required="" type="text" name="text" autocomplete="off" class="input">
          </div>
        </div>
        <div>
          <p class="entry-type">Dispositivos</p>
        </div>

    
      </div>
    </div>

    <div class="center2">
    <div class="button">
        <button class="btn-cancel" (click)="volverHome()">Cancelar</button>
        <button class="btn-register">Registrar</button>
    </div>
    </div>
</div>
